API_ID = 12380656
API_HASH = d927c13beaaf5110f25c505b7c071273
BOT_TOKEN = 8698858326:AAHIG9l3vl75--sTTl9JD34bTAWLJyHfKA4
LOG_GROUP_ID = -1003768049547
MONGO_DB_URI = mongodb+srv://TEAM-VAMPIRE-OP:VAMPIRE800@team-vampire-op.npkrxta.mongodb.net/?appName=TEAM-VAMPIRE-OP
OWNER_ID = 8628886006
STRING_SESSION = BQFwyZ4AD7QNUI43ZUVxxGfh5M2JxYucGMWzhmrEQsZ0lkLaSpq9XIlfer1VIBypqVGs-h4qydnkFJ2q8l6QEPa9yfxyt0kUVGFwdgoSU5UFDwSMNC25MaDJvq4OOIOAZ1wUFoKT03SL2pih-_K2fIHMh7fJ-9yo2JD9sM5vQ1Fg9h6QHFAjOrsv8ntzIXSYXUAwa_KgBRJUqycb3bScKut3-0bb39PQLPsWscAHBFZ_ltOhOk9WtNQkNTapVqNCVhLu1KgVxwJK6gzlpLz7e6O9AK582PxsSnVwv3phuzmZVYak7V8kpCJJ0Jr7eTHB-PfiFJoZijtc24iqPFwPHrwgffy4WwAAAAIDvjQ4AA
